*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.estiloNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white; 
    padding: 8px;
}
.tituloNav{
    font-size: 24px; 
    font-weight: bold;
}
.listNav{
    list-style-type: none; 
    padding: 0; 
    display: flex;
}
.listNav li{
    margin-right: 50px;
}
.listNav li a{
    text-decoration: none; 
    color: #fff;
    font-weight: bold;
}
span{
    font-weight: bold;
}
.sectionStyle{
    display: flex;
    align-items: center; 
    padding: 20px;
    font-size: 150%;
}
.parrafoStyle{
    -ms-flex-align: center;
    padding: 20px; /
}
.formStyle{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.sectionForm{
    background-color: rgb(37, 37, 37);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer{
    background-color: whitesmoke;
}
.footerStyle {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    justify-content: space-between;
    
}